/* Below 1440px (Smaller Desktops */
@media only screen and (max-width: 90em) {
}

/* Below 1200px (Landscape Tablets) */

@media only screen and (max-width: 75em) {
    html {
        font-size: 56.25%; /* 9px */
    }

    .row {
        padding: 0 var(--spacing-11);
    }
}

/* Below 900px (Tablets) */

@media only screen and (max-width: 56.25em) {
    html {
        font-size: 37.5%; /* 8px */
    }
}

/* Below 767px (Smaller Tablets) */

@media only screen and (max-width: 47.94em) {
    .row {
        padding: 0 var(--spacing-10);
    }

    /* ---------- TrustedBy Section ---------- */

    .trustedby-section__logos {
        flex-wrap: wrap;
        justify-content: center;
        gap: var(--spacing-10);
    }
    /* ---------- Advantages Section ---------- */

    .row.advantages-section__content {
        padding-right: var(--spacing-11);
        flex-direction: column;
    }

    /* ---------- Package Section ---------- */

    .package-section__content {
        flex-direction: column-reverse;
    }

    /* ---------- Package Section ---------- */

    .footer__content {
        gap: var(--spacing-10);
    }

    .company__brand {
        flex: 100%;
    }
}

@media only screen and (max-width: 30em) {
    /* ---------- Header ---------- */

    .heading-1 {
        font-size: var(--font-size-11);
        line-height: var(--line-height-11);
    }

    h2 {
        font-size: var(--font-size-10);
        line-height: var(--line-height-10);
    }

    .header__buttons {
        flex-direction: column;
    }
}
