/* ---------- Top Navigation ---------- */

.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--spacing-14);
}

.nav__logo {
    height: var(--logo-big--height);
    width: auto;
}

.nav__links {
    display: flex;
    gap: var(--spacing-7);
}

/* ---------- Header ---------- */

#header {
    height: 118rem;
    padding-top: var(--spacing-13);
    position: relative;
}

#after-header-bg {
    position: absolute;
    bottom: 0;
    height: 38rem;
    width: 100%;
    background-color: var(--bg-color-20);
    z-index: -1;
}

.header__content {
    display: flex;
    justify-content: center;
}

.header__content > div {
    max-width: 86rem;
}

#header__heading {
    text-align: center;
    margin-bottom: var(--spacing-7);
}

.header__sub-heading {
    text-align: center;
}

.header__buttons {
    display: flex;
    justify-content: center;
    gap: var(--spacing-7);
    margin-top: var(--spacing-9);
}

img.header__hero {
    height: auto;
    width: 100%;
    max-width: 140rem;
    position: absolute;

    left: 50%;
    transform: translateX(-50%);
}

/* ---------- Featured Section ---------- */

.featured-section {
    height: 25rem;
    background-color: var(--bg-color-20);
}

.featured-section__heading {
    font-size: var(--font-size-6);
    font-weight: var(--font-weight-400);
    color: var(--text-color-20);
    text-align: center;
}

.featured-section__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-7);
}

.featured-section__logos {
    display: flex;
    justify-content: space-between;
}

.featured-section img {
    height: 42px;
    width: auto;
}

/* ---------- Advantages Section ---------- */
.advantages-section {
    background-color: var(--bg-color-10);
}

.row.advantages-section__content {
    padding-right: 0;
    display: flex;
    gap: var(--spacing-12);
}

.advantages-section__info {
    flex: 0 1 45%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-7);
}

.advantages-section__image {
    display: flex;
    align-items: center;
    flex: 0 0 55%;
}

.advantages-section__image img {
    width: 100%;
    height: auto;

    box-shadow: -2rem 2rem 2rem var(--bg-color-30);
}

.advantages-section__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.advantages-section__list li {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
    gap: var(--spacing-5);

    font-size: var(--font-size-4);
    line-height: var(--line-height-4);
    font-weight: var(--font-weight-400);
    color: var(--text-color-10);
}

.advantages-section__list li:first-child,
.advantages-section__list li:nth-child(2) {
    margin-bottom: var(--spacing-7);
}

/* ---------- Advantages Section ---------- */

.package-section__content {
    display: flex;
    gap: var(--spacing-12);
}

.package-section__image {
    flex: 0 0 50%;
    display: flex;
    align-items: center;
}

.package-section__image img {
    width: 100%;
    height: auto;
}

.package-section__info {
    flex: 0 1 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-7);
}

.package-section__details {
    display: flex;
    justify-content: flex-start;
    gap: var(--spacing-9);
}

.package-section__detail {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
}

.package-section__detail span:first-child {
    font-size: var(--font-size-8);
    font-weight: var(--font-weight-600);
}

.package-section__detail span:last-child {
    font-size: var(--font-size-5);
    font-weight: 400;
    color: var(--text-color-10);
}

.package-score {
    color: var(--green-100);
}

.package-installs {
    color: var(--blue-90);
}

.package-satisfaction {
    color: var(--yellow-100);
}
